<div class="footer"><footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div>&copy; FirstOne</div>
        <div class="f-info-links">
            <a href="/terms">Terms</a>
            <a href="/privacy">Privacy</a>
            <a href="/docs">Documents</a>
        </div>
    </div>
</footer></div>